body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif !important;
}

.section-header
{
	height: 70px;
	width: 100%;
}

.red
{
	color: #E21E2F;
}

.glass-icon
{
	display: block;
    font-family: "Flaticon";
    font-size: 64px !important;
    line-height: 1;
    text-align: center;
}

.right
{
	float: right;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/** HEADER **/

.header
{
	width: auto;
	height: 80px;
	/** border-bottom: 1px solid #B91926; **/
}

.header-logo
{
	position: absolute;
	left: 20px;
	top: 18px;
}

.menu-displayer
{
	position: absolute;
	right: 20px;
	display: none;
	top: 22px;
	font-size: 25px;
}

.header ul
{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.header ul li
{
	color: grey;
	display: inline-block;
	line-height: 80px;
}

.header ul li a
{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #525252;
	padding: 0 20px;
	border-right: 1px solid #F1F1F1;
}

.header ul li a:hover
{
	color: red;
	transition-duration: 2s;
}

@media screen and (max-width: 1000px) {
  .header ul
  {
  	display: none;
  	z-index: 100;
	position: absolute;
	top: 80px;
	height: auto;
	width: 100%;
   } 

	.header ul li
	{
		display: block;
		width: 100%;
		background-color: white;
		text-align: center;
		border-bottom: 1px solid #F1F1F1;
	}

	.header ul li a
	{
		border-right: 1px solid transparent;
	}

	.menu-displayer
	{
		display: block;
	}
}


/** SLIDER **/

#slider
{
	height: 600px;
    background-color: #2C2D3C;
    background-image: url('../images/background.png');
    font-size: 11px;
}

#slider .head-text
{
    color: white;
    margin-left: 100px;
    margin-top: 200px;
}

#slider .headline
{
    color: white;
    font-size: 25px;
}

#slider .subdescription
{
    color: white;
    font-size: 11px;
}

#slider .main-link
{
    color: white;
    font-size: 13px;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 20px;
    margin-top: 20px;
}

#slider .header
{
    height: 75px;
    background-color: white;
}

#slider .menu
{
    position: absolute;
    top: 0;
    right: 0;
}

#slider .menu ul
{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

#slider .menu ul li
{
    color: grey;
    display: inline-block;
    line-height: 80px;
}

#slider .menu ul li a
{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    padding: 0 20px;
    border-right: 1px solid #F1F1F1;
}

#slider .menu ul li a:hover
{
    color: red;
    transition-duration: 2s;
}

#slider .title
{
    padding-top: 50px;
}

#slider .description
{
    color: grey;
}

#exemple1
{
    background-color: #F1F1F1;
    height: 700px;
    width: 100%;
    padding: 100px 0px;
}

#exemple1 .test
{
    display: inline-block;
    height: 350px;
    width: 300px;
    background-color: white;
    margin-top: 40px;
    margin-left: 40px;
}

#exemple1 .title
{
    font-size: 12px;
    color: grey;
    text-align: center;
    padding: 20px 0px;
}

#exemple1 .border{
    width: 150px;
    height: 1px;
    background-color: grey;
    margin-top: 1px;
    display: block;
    margin: auto;
}

#exemple1 .description
{
    margin-top: 20px;
    padding: 5px 20px;
    font-size: 11px;
    color: #585858;
}


/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 10%; height: 10vw; float: left; position: relative; }

.grid-item img { height: 100%; width: 100%; }
/* 2 columns */
.grid-item--width2 { width: 20%; }

.grid-item--height2 { height: 20vw; }

.red-square
{
    background-color: red;
}

.green-square
{
    background-color: green;
}

.grid-item:before
{
    content: "";
    position: absolute;
    background-color: white;
    left: 25%;
    right: 25%;
    bottom: 50%;
    height: 2px;
    transform-origin: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}

.grid-item:hover:before
{
    transform: scaleX(1);
}

/** OWL CAROUSEL **/

.owl-carousel .item {}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel .owl-next {
	right: 50px;
    top: 47%;
    position: absolute;
}

.owl-carousel .owl-next:after {
    position: absolute;
    color: white;
    font-size: 70px;
    content: "\f105";
    left: 0;
    top: 0;
    bottom: 0;
    font-family: "FontAwesome";
    
}

.owl-carousel .owl-prev {
	left: 30px;
    top: 47%;
    position: absolute;
}

.owl-carousel .owl-prev:after {
    position: absolute;
    color: white;
    font-size: 70px;
    content: "\f104";
    left: 0;
    top: 0;
    bottom: 0;
    font-family: "FontAwesome"; 
}

.owl-carousel-main .item {}

.owl-carousel-main .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel-main .owl-next {
	right: 50px;
    top: 47%;
    position: absolute;
}

.owl-carousel-main .owl-next:after {
    position: absolute;
    color: red;
    font-size: 70px;
    content: "\f105";
    left: 0;
    top: 0;
    bottom: 0;
    font-family: "FontAwesome";
    
}

.owl-carousel-main .owl-prev {
	left: 30px;
    top: 47%;
    position: absolute;
}

.owl-carousel-main .owl-prev:after {
    position: absolute;
    color: red;
    font-size: 70px;
    content: "\f104";
    left: 0;
    top: 0;
    bottom: 0;
    font-family: "FontAwesome";
}


